@media screen and (min-width: 1158px) {
	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.container {
		max-width: 1158px;

		padding: 0 15px;
		margin: 0 auto;
		justify-content: center;
	}
	.header {
		/* max-width: 1158px; */
	}
	.navigation {
		display: block;
		margin-left: 332px;
	}
	.header-navigation {
		display: flex;
		gap: 40px;
	}
	.header-contacts {
		display: flex;
	}

	/* WHAT WE ARE DOING */
	.work {
		display: block;
		padding-top: 0;
	}

	.navigation {
		display: block;
		margin-left: 76px;
	}
	.header-navigation {
		display: flex;
		gap: 40px;
	}

	.header-navigation-item {
		font-family: var(--main-font);
		font-weight: 500;
		line-height: 1.5;
		color: var(--dark);
		text-decoration: none;
		letter-spacing: 0.02em;
		font-size: 16px;
		display: block;
		padding: 24px 0px;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		position: relative;
	}
	.header-navigation-item.current::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 4px;
		background-color: var(--pressed-state);
		left: 0;
		bottom: 0;
		border-radius: 2px;
	}

	.header-navigation-item:hover,
	.header-navigation-item:focus {
		color: var(--primary-brand);
		text-decoration: none;
	}

	/* CURRENT*/
	.current {
		color: var(--primary-brand);
	}
	/* CONTACTS */
	.header-contacts {
		display: flex;
		gap: 40px;
		margin-left: auto;
		color: var(--dark);
	}
	.header-contacts-item {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		color: var(--dark);
		letter-spacing: 0.02em;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.header-contacts-item:hover,
	.header-contacts-item:focus {
		color: var(--pressed-state);
	}

	.burger {
		display: none;
	}
	.menu-container {
		display: none;
	}
	/* HERO */
	.overlay {
		height: 432px;
		outline: 1px solid transparent;
		/* max-width: 428px; */
		margin: 0 auto;
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/people-office-desktop-2x.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #2e2f42;
	}

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.overlay {
			background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/people-office-desktop-2x.jpg);
		}
	}
	.main-heading-1 {
		width: 700px;
		font-weight: 700;
		line-height: 0.9;
		color: var(--white);
		letter-spacing: 0.02em;
		text-align: center;
		/* margin: 0 auto; */
		padding-top: 112px;
		padding-left: 54px;
		padding-right: 56px;
		padding-bottom: 72px;
		font-size: 36px;
		margin: 0 auto;
		font-weight: 700;
		font-size: 56px;
		line-height: 1.07;
	}
	/* FEATURES */
	.features {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.features > .container {
		display: flex;
		flex-direction: row;
		margin-right: 0;
	}

	.main-heading-3-features {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}
	.main-item-columns-features {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		column-gap: 24px;
	}

	.list-item-features {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: calc((100% - 72px) / 4);
		column-gap: 24px;
	}
	.main-item-paragraph-features {
		display: block;
		/* width: 264px; */
	}
	.list-item-features::before {
		content: "";
		display: block;
		height: 112px;
		background-color: #f4f4fd;
		outline: 1px solid #f4f4fd;
		border-radius: 4px;
		margin-bottom: 8px;
		background-position: center;
		background-size: 264px 112px;
		background-repeat: no-repeat;
	}
	.list-item-features::before {
		display: block;
	}
	.icon-strategy::before {
		display: block;
		background-image: url(../images/antenna.svg);
		background-size: 64px 64px;
	}
	.icon-punctuality::before {
		display: block;
		background-image: url(../images/clock.svg);
		background-size: 64px 64px;
	}
	.icon-diligence::before {
		display: block;
		background-image: url(../images/diagram.svg);
		background-size: 64px 64px;
	}
	.icon-technologies::before {
		display: block;
		background-image: url(../images/astronaut.svg);
		background-size: 64px 64px;
	}

	/* OUR TEAM */

	.team {
		background-color: var(--light);
	}
	.main-heading-2 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		letter-spacing: 0.02em;
		margin-left: auto;
		align-items: center;
		margin-bottom: 72px;
		text-align: center;
	}

	.main-pre-item-team {
		display: flex;
		gap: 24px;
	}
	.main-pre-item {
		display: flex;
		gap: 24px;
	}

	.main-item {
		font-weight: 400;
		line-height: 1.5;
	}

	.main-heading-3 {
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 1.1;
		color: var(--dark);
		letter-spacing: 0.02em;
		margin-bottom: 8px;
		text-align: center;
	}

	.main-item-paragraph-team {
		font-style: normal;
		font-weight: 500;
		line-height: 1.5;
		color: #434455;
		letter-spacing: 0.02em;
		font-size: 16px;
	}
	.main-pre-item-1-team {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		column-gap: 24px;
	}
	.team-items {
		background-color: #ffffff;
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 2px 1px rgba(46, 47, 66, 0.08);
		border-radius: 0px 0px 4px 4px;
		text-align: center;
		width: calc((100% - 72px) / 4);
	}
	.team-content {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.main-item-paragraph-2-team {
		font-style: normal;
		font-weight: 400;
		line-height: 1.5;
		color: #434455;
		letter-spacing: 0.02em;
		text-align: center;
	}

	.social-list {
		display: flex;
		justify-content: center;
		gap: 24px;
		list-style: none;
		margin-top: 12px;
	}
	.social-items {
		width: 40px;
		height: 40px;
		color: var(--light);
	}
	.social-link {
		background-color: var(--primary-brand);
		width: 100%;
		height: 100%;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.social-link:hover,
	.social-link:focus {
		background-color: var(--pressed-state);
	}

	/* CUSTOMERS */
	.customers {
		width: 100%;
		justify-content: center;
		text-align: center;
	}
	.customer-link {
		color: var(--subtle-text);
		border: 1px solid currentColor;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 168px;
		height: 88px;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.customer-link:hover,
	.customer-link:focus {
		color: var(--pressed-state);
	}
	.customer-list {
		display: flex;
		gap: 24px;
	}

	.customer-icon {
		fill: currentColor;
	}

	.customers {
		justify-content: center;
		text-align: center;
		align-items: center;
		margin: 0 auto;
	}
	.customer-link {
		color: var(--subtle-text);
		border: 1px solid currentColor;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 168px;
		height: 88px;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.customer-link:hover,
	.customer-link:focus {
		color: var(--pressed-state);
	}
	.customer-list {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px;
	}
	.customer-items {
		width: auto;
		display: block;
		flex-direction: column;
		column-gap: 24px;
		justify-content: center;
		align-items: center;
	}

	/* FOOTER */

	.footer {
		/* width: 1158px; */
		display: flex;
	}

	.added {
		width: 1158px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 0;
	}
	.footer-logo {
		font-family: var(--secondary-font);
		font-style: normal;
		font-weight: 800;
		font-size: 18px;
		line-height: 1.17;
		color: #f4f4fd;
		text-decoration: none;
		letter-spacing: 0.03em;
		display: flex;
		align-items: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	.footer-paragraph {
		font-style: normal;
		font-weight: 400;
		line-height: 1.5;
		color: #e7e9fc;
		letter-spacing: 0.02em;
		width: 264px;
	}
	.social-block {
		margin-left: 80px;
		/* margin-right: 80px; */
	}
	.footer-social-paragraph {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--white);
	}
	.footer-social-list {
		display: flex;
		justify-content: center;
		gap: 16px;
		list-style: none;
		margin-top: 12px;
	}

	.footer-social-link {
		background-color: rgba(255, 255, 255, 0.1);
		width: 100%;
		height: 100%;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.footer-social-link:hover,
	.footer-social-link:focus {
		background-color: #31d0aa;
	}

	.subscibe-block {
		display: flex;
		margin-left: 88px;
	}
	.subscribe-items {
		display: flex;
		flex-direction: row;
		margin-top: 16px;
	}

	.subscribe-input {
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		width: 264px;
		height: 40px;
		position: relative;
		background-color: transparent;
		box-sizing: border-box;
		padding: 0;
		color: var(--light);
		padding: 8px 16px;
	}
	.subscribe-input:focus {
		outline: none;
		background-color: transparent;
	}
	.subscribe-submit-btn {
		background: #4d5ae5;
		border-radius: 4px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		color: var(--white);
		align-items: center;
		padding-top: 8px;
		padding-bottom: 8px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-left: 24px;
		padding-right: 24px;
	}
	.plane {
		color: var(--white);
		background-image: url(../images/plane.svg);
		width: 24px;
		height: 24px;
		margin-left: 16px;
	}
}
