@media screen and (min-width: 768px) {
	.section {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	.container {
		max-width: 768px;
		margin: 0 auto;
        padding:0 15px;

	}

	
	/* HEADER */
    .navigation { display: block;
	margin-left: 123px;
   }
	.header-navigation {
		display: flex;
		gap: 40px;
	}

	.header-navigation-item {
		font-family: var(--main-font);
		font-weight: 500;
		line-height: 1.5;
		color: var(--dark);
		text-decoration: none;
		letter-spacing: 0.02em;
		font-size: 16px;
		display: block;
		padding: 24px 0px;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		position: relative;
	}
	.header-navigation-item.current::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 4px;
		background-color: var(--pressed-state);
		left: 0;
		bottom: 0;
		border-radius: 2px;
	}

	.header-navigation-item:hover,
	.header-navigation-item:focus {
		color: var(--primary-brand);
		text-decoration: none;
	}

	/* CURRENT*/
	.current {
		color: var(--primary-brand);
	}
	/* CONTACTS */
	.header-contacts {
		display: block;
		gap: 40px;
		margin-left: auto;
		color: var(--dark);
	}
	.header-contacts-item {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		color: var(--dark);
		letter-spacing: 0.02em;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	.header-contacts-item:hover,
	.header-contacts-item:focus {
		color: var(--pressed-state);
	}
	.burger {
		display: none;
	}
    .menu-container{display:none;}
    .mob-menu-contacts{display:none;}
    .mob-social-list {display:none;}

	/* HERO */
	.hero-container {
		width: 100%;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.hero-container > .container {
		padding: 0;
	}

	.overlay {
		height: 436px;
		outline: 1px solid transparent;
		/* max-width: 428px; */

		margin-left: auto;
		margin-right: auto;
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/people-office-tablet-2x.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #2e2f42;
	}
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.overlay {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/people-office-tablet-2x.jpg);
	}


	.main-heading-1 {
		font-family: Roboto;
		font-style: normal;
		font-size: 56px;
		font-weight: 700;
		width: 700px;
		padding-left: 137px;
		height: 272px;
		padding-top: 112px;
		justify-content: center;
		padding-bottom: 40px;
		margin: 0;
		line-height: 1.07;
		letter-spacing: 0.02em;
	}
	/* FEATURES */
	.features> .container {
		width: 100%;
	}
	.list-item { width: 356px;
		
		
       
		
	}
	.main-item-columns { display: flex;
   flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
 width: 1158px;

	}
    .main-item-paragraph {
	width: 356px;
}
.main-heading-3{width: 356px;

}
.list-item::before {
	display: none;
}
.icon-strategy::before {
	display: none;
}
.icon-punctuality::before {
	display: none;
}
.icon-diligence::before {
	display: none;
}
.icon-technologies::before {
	display: none;
}

/* OUR TEAM */
.team {
	background-color: var(--light);
	/* justify-content: center; */
}
.main-heading-2 {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	margin-left: auto;
	align-items: center;
	margin-bottom: 72px;
	text-align: center;
}

.main-pre-item {
	display: flex;
	row-gap: 24px;
}

.main-mobile-item {
	width: 100%;
}
.main-item {
	font-weight: 400;
	line-height: 1.5;
}
.main-heading-3-features {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.1;
	color: var(--dark);
	letter-spacing: 0.02em;
	margin-bottom: 8px;
	margin-left: 0;
	text-align: left;
	
}
.main-heading-3-team {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.1;
	color: var(--dark);
	letter-spacing: 0.02em;
	margin-bottom: 8px;
	margin-left:auto ;
	margin-right: auto;
}

.main-item-paragraph {
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	color: #434455;
	letter-spacing: 0.02em;
	font-size: 16px;
}
.main-pre-item-1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 62px;
	/* margin: 0 auto; */
	align-items: center;
	justify-content: center;
}
.team-items {
	background-color: #ffffff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	width: 264px;
	justify-content: center;
	margin: 0;
	/* row-gap: 72px; */
	/* margin: 0 auto; */
}
.team-content {
	padding-top: 32px;
	padding-bottom: 32px;
}
.main-item-paragraph-2 {
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	color: #434455;
	letter-spacing: 0.02em;
	text-align: center;
}

.social-list {
	display: flex;
	justify-content: center;
	gap: 24px;
	list-style: none;
	margin-top: 12px;
}
.social-items {
	width: 40px;
	height: 40px;
	color: var(--light);
}
.social-link {
	background-color: var(--primary-brand);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: var(--pressed-state);
}

/* CUSTOMERS */
.customers {
	width: 1158px;
	justify-content: center;
	text-align: center;
}
.customer-link {
	color: var(--subtle-text);
	border: 1px solid currentColor;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 168px;
	height: 88px;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
	color: var(--pressed-state);
}
.customer-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 72px;
	justify-content: center;
}

.customer-icon {
	fill: currentColor;
}
/* FOOTER */
.footer{
	
}
.added {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 72px;
	width: 768px;
}

.tablet-block{
	display: flex;
	flex-direction: row;
	column-gap: 24px;
	
	
}
.subscribe-input {
	width: 264px;
}
.subscibe-block {
	display: flex;
	/* flex-direction: row;
	flex-wrap: wrap; */
}
.subscribe-items {
	display: flex;
	/* flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	row-gap: 16px; */
}



.subscribe-submit-btn {
	background: #4d5ae5;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--white);
	align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 24px;
	padding-right: 24px;
}
.plane {
	color: var(--white);
	background-image: url(../images/plane.svg);
	width: 24px;
	height: 24px;
	margin-left: 16px;
}
}
